<div class="row">
  <div class="col-md-9">
  <button type="button" class="btn btn-default btn-lg" style="margin-top: 10px"><%= link_to 'Add New Post', new_post_path %></button>

    <div id="my-posts" class="justifyText">
      <%= render @posts %>
    </div>
  </div>
    <div class="col-md-3">
    <hr />
      <h2><strong>About us</strong></h2>
      <p class="justifyText">Riverpix is a website where you can share your photos and everyday experiences. With a simple and intuitive interface sharing was never so easy.</p>
      <hr />
    </div>
</div>

 
<div id="infinite-scrolling">
  <%= will_paginate %>
</div>