<div class='post-view'>
  <h1 align="center">Add your new post in RiverPix</h1>
  <br>

  <%= render 'form' %>

  <div style=" font-size:22px;"> 
  <hr />
  <%= link_to 'Back home page', posts_path %>
  </div>
</div>
