@import "bootstrap";

body{
  background-color: #1f242b;
}

.container{
  background-color: #ffffff;
}

.navbar {
  background-color: #1f242b;
}

.justifyText{
text-align : justify;
}

.footer { margin-top: 2px; align: center;
  height: 90px;
  background: #ffffff; text-align: left; color: #000000; 
} 

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 2;
border-top: 2px solid #B3ADAD;
}

.col-md-9{
  background-color: #eceef1;
}